.ace_content {
  background-color: #080808;
}

.ace_gutter-layer {
  background-color: #080808;
}

.ace_tree_scroller {
  background-color: #080808;
}

.c9-simple-btn {
  background-color: green;
}

.tab_middle {
  background-color: red;
}
